trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  flutterVersion: '3.35.6'

steps:
- task: CmdLine@2
  inputs:
    script: |
      # Install Flutter without using parallel jobs
      git clone https://github.com/flutter/flutter.git -b 3.13.9 --depth 1
      echo "##vso[task.prependpath]$(pwd)/flutter/bin"
      flutter doctor -v
    displayName: 'Install Flutter'

- script: |
    flutter pub get
    flutter test
  displayName: 'Dependencies & Tests'

- script: |
    flutter build apk --release --split-per-abi
  displayName: 'Build APK'

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: 'build/app/outputs/flutter-apk'
    artifactName: 'android-apk'