trigger:
  branches:
    include:
    - main
  paths:
    exclude:
    - README.md

pool:
  vmImage: 'ubuntu-latest'

variables:
  flutterVersion: '3.35.6'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true

- script: |
    git clone https://github.com/flutter/flutter.git -b $(flutterVersion) --depth 1
    echo "##vso[task.prependpath]$(pwd)/flutter/bin"
  displayName: 'Install Flutter SDK'

- script: |
    flutter doctor -v
    flutter pub get
  displayName: 'Flutter Doctor & Dependencies'

- script: |
    flutter test
  displayName: 'Run Tests'

- script: |
    flutter build apk --release --split-per-abi
  displayName: 'Build Android APK'

- task: CopyFiles@2
  inputs:
    contents: 'build/app/outputs/flutter-apk/**/*.apk'
    targetFolder: '$(build.artifactStagingDirectory)'
    cleanTargetFolder: true

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(build.artifactStagingDirectory)'
    artifactName: 'android-apk'
    publishLocation: 'Container'